In [1]:
'hello'+' '+'python'

'hello python'

In [2]:
2*'hello'

'hellohello'

In [3]:
2*' '+'hello'

'  hello'

### python 沒有陣列的資料型態

In [4]:
str = 'hello python'

In [6]:
str[6]

'p'

In [7]:
str[:4]

'hell'

In [9]:
str[7:]

'ython'

In [11]:
str[-1]

'n'

In [12]:
str[:-1]

'hello pytho'

In [13]:
str[-1:]

'n'

In [14]:
str[2:-1:3]

'l t'

In [15]:
str[2:-1:2]

'lopto'

In [16]:
str[2:-1:1]

'llo pytho'

In [17]:
str[20]

IndexError: string index out of range

In [18]:
20 + '11'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
str(20) + '11'

TypeError: 'str' object is not callable

In [22]:
20 + int('11')

31

In [23]:
del str # dash's unset, 跟上面的變數使用到了function

In [24]:
str(20) + '11'

'2011'

In [25]:
mystr = 'Hello'

In [26]:
mystr[0] = 'x' # 字串的元素不能放在 等號左邊

TypeError: 'str' object does not support item assignment

### python 的 method 就是 function, 因為python 的物件導向不是真的物件導向，而是以函數為基礎的環境 -> function base

In [30]:
# JAVA 中，mystr.upper() -> method，即 有用到"." 運算子

In [31]:
'hello'.upper()

'HELLO'

In [32]:
'JELLO'.lower()

'jello'

In [33]:
# whitespace '  ', '\t', '\v'

In [34]:
'Python programming is fun!'.split()

['Python', 'programming', 'is', 'fun!']

In [36]:
'55-adf-342-354'.split('-')

['55', 'adf', '342', '354']

In [38]:
filename = 'alfdjla.343.text'

In [39]:
filename.split('.')

['alfdjla', '343', 'text']

In [41]:
filename2 = 'sdfkdsl/slafdk/34343.434'

In [42]:
filename2.split('/')

['sdfkdsl', 'slafdk', '34343.434']

In [44]:
# 我只要 .text 
filename.split('.')[-1]

'text'

In [45]:
# 只要主檔名
filename.split('.')[:-1]

['alfdjla', '343']

In [46]:
filename.split('.',1)

['alfdjla', '343.text']

In [47]:
filename.split('.',1)[-1]

'343.text'

In [48]:
filename.split('.',maxsplit=1)

['alfdjla', '343.text']

In [51]:
filename.rsplit('.', maxsplit=1) # 使用 keyword argument

['alfdjla.343', 'text']

In [53]:
filename.rsplit('.', maxsplit=1)[-1]

'text'

In [54]:
filename.rsplit('.', maxsplit=1)[:-1]

['alfdjla.343']

In [55]:
filename.lsplit('.', maxsplit=1)[-1]

AttributeError: 'str' object has no attribute 'lsplit'

In [56]:
L=['a','b','c','d','e','f','g']

In [57]:
L[:5]

['a', 'b', 'c', 'd', 'e']

In [58]:
L[::2]

['a', 'c', 'e', 'g']

In [59]:
L[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [60]:
L[-2:-5]

[]

In [61]:
x=[1,2,3]

In [62]:
x.append(4)

In [63]:
x

[1, 2, 3, 4]

In [64]:
y=[1,2,3,4,5,6,7]

In [65]:
y.pop()

7

In [66]:
x=[1,2]

In [67]:
y=[3,4]

In [68]:
x+y

[1, 2, 3, 4]

In [69]:
x*2.0

TypeError: can't multiply sequence by non-int of type 'float'

In [70]:
x=[3,5,7]

In [71]:
x[1:]=[2]

In [72]:
x

[3, 2]

In [73]:
x=(3,)

In [74]:
x*3

(3, 3, 3)

In [75]:
k = 9
if k<18:
    print("S", end="")
elif k <= 20:
    print("Y", end="")
elif k <= 90:
    print("P", end="")
print("R", end="")

SR

In [76]:
def item_1_6( f, s, p, k=7, h=8):
    print(f, end="")
    print(s, end="")
    print(p, end="")
    print(k, end="")
    print(h, end="")
    
item_1_6(2, p=4,s=3,k=5)

23458

In [77]:
for k in range(2,4):
    print(k, end="")

23

In [78]:
k = 8

In [81]:
k = 8
def item_0_2():
    k = 4
    while k <= 5:
        print(k, end="")
        k += 1
print(k, end="")
item_0_2()

845

In [82]:
k = 4
while k <= 8:
    if k == 6:
        break
    print(k, end="")
    k += 1

45

In [84]:
def item_0_6(k):
    print(k, end="")
    k += 1
    return k

k = 3
item_0_6(k)
item_0_6(3)
k = item_0_6(k)
print(k, end="")

3334

In [85]:
for k in range(2):
    print(k, end="")
    for t in range(2):
        print(t, end="")

001101

In [86]:
k = 9
if k >= 6:
    if k <= 22:
        print("S", end="")
    else:
        
        
        print("Y", end="")
    print("P", end="")
print("R", end="")

SPR

In [87]:
def item_1_7(*v, f=2, s=3):
    na = len(v)
    for x in range(na):
        print(v[x], end="")
    print(f, end="")
    print(s, end="")
item_1_7(2,3,7,8)

237823

In [88]:
print(bool(None))

False

In [89]:
print(bool(""))

False

In [90]:
t=("a")
print(type(t))

<class 'str'>

In [91]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')
print(init_tuple_a == init_tuple_b)

True

In [92]:
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')
print(init_tuple_a + init_tuple_b)

('1', '2', '3', '4')

In [93]:
fruit = {}
def addone(index):
    if index in fruit:
        fruit[index] += 1
    else:
        fruit[index] = 1

addone('Apple')
addone('Banana')
addone('apple')
addone('Banana')
print(len(fruit))

3

In [94]:
a = 7
b = 7

In [95]:
print(a is b)

True

In [96]:
print(a == b)

True

In [97]:
print(id(a) == id(b))

True

In [98]:
print(25/2+3*3+2**3+13%(9//2))

30.5

In [99]:
'1'==1

False

In [100]:
print("c:\temp\back")

c:	empack

In [101]:
print(6/2*(1+2))

9.0

In [102]:
print(25<10+3*4)

False

In [103]:
friends=["Tom", "Marry", "Jack"]
print(friends[2])

Jack

In [104]:
print({2,6,8,12}-{3,6,9,12})

{8, 2}

In [105]:
print({1,2,3,4,3,2})

{1, 2, 3, 4}

In [106]:
x = {"name":"Jack","age":30}

In [107]:
x["email"] = "fdaf"

In [108]:
print(x)

{'name': 'Jack', 'age': 30, 'email': 'fdaf'}

In [109]:
print(x["Name"])

KeyError: 'Name'

In [110]:
x["age"]=28
print(x)

{'name': 'Jack', 'age': 28, 'email': 'fdaf'}

In [111]:
def fun():
    global var
    var = 10
    print(var)
var = 5
fun()
print(var)

10
10

In [112]:
if True:
    print("Hello")
    print("World")

Hello
World